body,
#wrapper {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transform-style: preserve-2d;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper {
  transform-style: preserve-2d;
  animation: moveb 50s infinite linear, back 50s linear;
  background-image: url('https://raw.githubusercontent.com/briggsoft/Scrollingspaceimages/master/nasaimage/basednasa.jpg'), url('https://raw.githubusercontent.com/briggsoft/Scrollingspaceimages/master/nasaimage/basednasa.jpg');
  background-blend-mode: multiply;
 
}



@keyframes movep {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-2px) rotate(0deg);
  }
}

@keyframes moveb {
  from {
    background-position: 0;
  }
  to {
    background-position: -1000px;
  }
}
